.content-banner{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: multiply;
    height: 493px;
    &.mastermind {
      @include media-breakpoint-down(sm) {
        height: 793px;
      }
    }
    .content-banner-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 493px;
        &.mastermind {
          @include media-breakpoint-up(md) {
            -webkit-box-align: center;
            -ms-flex-align: unset;
            align-items: baseline;
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
          }
        }
        &:nth-of-type(1) {
          @include media-breakpoint-up(lg) {
            padding-right: 30px;
          }
        }
        &:nth-of-type(2) {
          @include media-breakpoint-down(sm) {
            height: 300px;
          }
        }
    }
}

.content-banner-title{
    padding-bottom:6px;
    h2{
        font-family: $font-family-base;
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
        mark{
            background-color: transparent;
            color:$secondary-color;
        }
        .mastermind & {
          text-align: center;
          @include media-breakpoint-up(md) {
            text-align: right;
            margin: 0 0 0 auto;
          }
       }
       @media screen and (min-width: 768px) and (max-width: 991px) {
         font-size: 23px;
       }
    }
}

.content-banner-data-block{
    padding-bottom:20px;
    text-align: center;
    font-family: $font-family-base;
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
    .mastermind & {
      @include media-breakpoint-up(md) {
        text-align: right;
        margin: 0 0 0 auto;
      }
    }
}

.banner-logo-block{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: $secondary-color;
    .mastermind & {
      @include media-breakpoint-up(md) {
        text-align: right;
        margin: 0 0 0 auto;
      }
    }
}

.banner-logo{
    margin:0 auto;
    img{
        display: block;
        margin:0 auto;
    }
    .mastermind & {
      @include media-breakpoint-up(md) {
        margin: 0 0 0 auto;
      }
    }
}

.banner-btn-content{
    padding-top:26px;
    .btn-secondary{
        background-color: $secondary-color;
        border:none;
        padding: 15px 10px;
        text-transform: uppercase;
        &:hover{
            color:$primary-color;
        }
        @include media-breakpoint-up(lg) {
          padding:15px 31px;
        }
        @media screen and (max-width:568px){
            padding:15px 12px;
            font-size: 12px;
        }
    }
    .mastermind & {
      @include media-breakpoint-up(md) {
        margin: 0 0 0 auto;
        right: 30px;
        position: relative;
      }
      @include media-breakpoint-up(lg) {
        right: 0;
      }
    }
}
