.content-items{
    .item-img{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item-img,
    .item-text{
        min-height: 463px;
        @media screen and (max-width:568px) {
            min-height:250px;
        }
    }
    
}
  
.bg-block-secondary{
    background-color: $secondary-color;
    justify-content:flex-start;
    text-align: right;
    @include media-breakpoint-down(md) {
        text-align: left;
        justify-content: center;
    }
}

.bg-block-primary{
    background-image: repeating-linear-gradient(135deg, #14182f -.1%, #14182f 0.01%, $primary-color .2%, $primary-color 1.1%);
    justify-content:flex-end;
    @include media-breakpoint-down(md) {
        justify-content: center;
    }
}

.item-text{
    padding:15px; 
    color:#ffffff;
    display: flex;
    align-items:center;
    width: 100%;
    h2{ 
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 15px;
        span{
            color:#ffffff;
            font-weight: 400;
        }
    }
    .text-left-block{
        max-width: 600px;
        padding-right:35px;
        @include media-breakpoint-down(md) {
            padding-right: 0 !important;
        }
        h2{
            color:$secondary-color;
        }
    }
    .text-right-block{
        max-width: 600px;
        padding-left:35px;
        @include media-breakpoint-down(md){
            padding-left: 0 !important;
        }
        h2{
            color:$primary-color;  
        }
    }
    .btn{
        font-size: 15px;
        text-transform: uppercase;
        &:hover{
            color:#ffffff;
        }
    }
}

.text-content{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}