.content-items{
    .item-img{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
    }
    .item-img,
    .item-text{
        min-height: 463px;
        @media screen and (max-width:568px) {
            min-height:250px;
        }
    }
    &.mastermind {
      border-bottom: 25px solid #dcaa26;
    }
}

.bg-block-secondary{
    background-color: $secondary-color;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    text-align: right;
    @include media-breakpoint-down(md) {
        text-align: left;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    &.border-secondary-1{
        border-left:23px solid #be7106;
        @include media-breakpoint-down(md) {
            border:0;
        }
    }
    &.border-secondary-2{
        border-left:6px solid #be7106;
        @include media-breakpoint-down(md) {
            border:0;
        }
    }
}

.bg-block-primary{
    background-image: -webkit-repeating-linear-gradient(315deg, #14182f -.1%, #14182f 0.01%, $primary-color .2%, $primary-color 1.1%);
    background-image: -o-repeating-linear-gradient(315deg, #14182f -.1%, #14182f 0.01%, $primary-color .2%, $primary-color 1.1%);
    background-image: repeating-linear-gradient(135deg, #14182f -.1%, #14182f 0.01%, $primary-color .2%, $primary-color 1.1%);
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    position: relative;
    z-index: 3;
    @include media-breakpoint-down(md) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    &::after{
        content: "";
        display:block;
        width:100%;
        height: 100%;
        right: 0;
        position: absolute;
        background: -webkit-gradient(linear, left top, right top, from(rgba(14,17,33,0)), to(rgba(14,17,33,1)));
        background: -webkit-linear-gradient(left, rgba(14,17,33,0) 0%, rgba(14,17,33,1) 100%);
        background: -o-linear-gradient(left, rgba(14,17,33,0) 0%, rgba(14,17,33,1) 100%);
        background: linear-gradient(to right, rgba(14,17,33,0) 0%, rgba(14,17,33,1) 100%);
        z-index: 1;
        border-right:20px solid #060814;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &.mastermind {
      &::after {
        border-right-width:30px;
      }
    }
}

.item-text{
    padding:15px;
    color:#ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    width: 100%;
    @media screen and (max-width:568px) {
        padding: 40px 15px;
    }
    h2{
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 15px;
        span{
            color:#ffffff;
            font-weight: 400;
        }
    }
    .text-left-block{
        max-width: 450px;
        padding-right:35px;
        z-index: 10;
        @include media-breakpoint-down(md) {
            padding-right: 0 !important;
        }
        h2{
            color:$secondary-color;
        }
    }
    .text-right-block{
        max-width: 450px;
        padding-left:35px;
        @include media-breakpoint-down(md){
            padding-left: 0 !important;
        }
        h2{
            color:$primary-color;
        }
    }
    .btn{
        font-size: 15px;
        text-transform: uppercase;
        margin-top:30px;
        &:hover{
            color:#ffffff;
        }
    }
}

.text-content{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
