 .main-footer{
    background-color: $secondary-color;
    padding:80px 0 10px;
    margin-top:-100px;
    color: #ffffff;
    font-size: $font-size-small;
    @include media-breakpoint-down(md) {
        padding:100px 0 10px;
    }
    a{
        color:#ffffff;
        text-decoration: none;
        padding-left: 2px;
        display: inline-block;
        line-height: 12px;
        &.line-left{
            border-left: 1px solid $body-color;
        }
    }
    li{
        list-style: none;
        &:nth-of-type(1){
            padding-right:3px;
        }
    }
}

.footer-text-left,
.footer-text-right{
    padding-bottom: 10px;
}



