.hero{
  height:584px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color:#fff;
  position: relative;
  padding-top:30px;
  overflow-x: hidden;
  border-bottom:3px solid $secondary-color; //
    .menu-button{
        position: absolute;
        top:0;
        padding-top: 30px;
    }
  .logo-img{
    max-width: 112px;
    display: block;
  }
}

.hero-text-content{
    .hero-title{
        text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        max-width:930px;
        margin:0 auto;
        @include media-breakpoint-down(sm) {
            font-size:28px;
        }
    }
  color:#ffffff;
  font-family: $font-family-primary;
  text-align: center;
  padding-top:30px;
  .hero-title-text{
    color: #ffffff;
    font-size: 20px;
    font-family: $font-family-primary;
    font-weight: 400;
  }
}

.hero-play {
  position: absolute;
  //bottom: 65px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
    .hero-play-btn{
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      //width: 52px;
      //height: 52px;
      width: 78px;//
      height: 78px;//
      border: 3px solid #dcaa26;
      position: absolute;
      left: 50%;
      top: 50%;
      //background-color: #0e1121;
        background-color: #fff;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align:center;
          -ms-flex-align:center;
              align-items:center;
      z-index: 10;
      img{
          width:36px;
      }
    }
}
.hero-triagle-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -150px);
      -ms-transform: translate(0, -150px);
          transform: translate(0, -150px);
  .triagle-right{
    width: 50%;
    position: relative;
    &::after{
      display: block;
      content: "";
      width: 0;
      height: 150px;
      border-top: 80px solid transparent;
      border-right: 50vw solid $secondary-color;
      border-bottom: 0 solid transparent;
      position: absolute;
      z-index: 1;
        @include media-breakpoint-down(md) {
            border-right: 80vw solid $secondary-color;
        }
        @media (max-width:568px){
            border-right: 90vw solid $secondary-color;
        }
    }
    &::before{
      display: block;
      content: "";
      width: 0;
      height: 150px;
      border-top: 83px solid transparent;
      border-right: 52vw solid $primary-color;
      border-bottom: 0 solid transparent;
      position: absolute;
      z-index: 2;
        @include media-breakpoint-down(md) {
            border-right: 84vw solid $primary-color;
        }
        @media (max-width:568px){
            border-right: 94vw solid $primary-color;
        }
    }
  }
  .triagle-left{
    width: 50%;
    position: relative;
    &::after{
      display: block;
      content: "";
      width: 0;
      height: 150px;
      border-top: 80px solid transparent;
      border-left: 50vw solid $secondary-color;
      border-bottom: 0 solid transparent;
      position: absolute;
      z-index: 1;
        @include media-breakpoint-down(md) {
            border-left: 80vw solid $secondary-color;
            left: -30vw;
        }
        @media (max-width:568px){
            border-left: 90vw solid $secondary-color;
            left: -40vw;
        }
    }
    &::before{
      display: block;
      content: "";
      width: 0;
      height: 150px;
      border-top: 83px solid transparent;
      border-left: 52vw solid $primary-color;
      border-bottom: 0 solid transparent;
      position: absolute;
      left: -2vw;
      z-index: 2;
        @include media-breakpoint-down(md) {
            border-left: 84vw solid $primary-color;
            left: -34vw;
        }
        @media (max-width:568px){
            border-left: 94vw solid $primary-color;
            left: -44vw;
        }
    }
  }
}