.hero{
    min-height:584px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    color:#fff;
    position: relative;
    padding-top:30px;
    .logo-img{
        max-width: 112px;
        display: block;
    }
}

.hero-text-content{
    color:#ffffff;
    font-family: $font-family-primary;
    text-align: center;
    padding-top:30px;
    .hero-title-text{
        color: #ffffff;
        font-size: 20px;
        font-family: $font-family-primary;
        font-weight: 400;
    }
}

.hero-button-block{
    position: absolute;
    bottom: 0;
    width:100%;
    min-height: 150px;
    overflow: hidden;
    .hero-video-content{
        position: absolute;
        width:100% ;
        height: 100% !important;
        .hero-video-button{
            width: 52px;
            height: 52px;
            border: 3px solid #dcaa26;
            background-color: #0e1121;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items:center;
            z-index: 3;
        }
    }
}



.hero-triagle-block{
    border:1px solid green 1px;
    display: flex;
    justify-content: space-between;
    .triagle-right{
        width: 50%;
        position: relative;
        &::after{
            display: block;
            content: "";
            width: 0;
            height: 150px;
            border-top: 80px solid transparent;
            border-right: 50vw solid #DCAA26;
            border-bottom: 0 solid transparent;
            position: absolute;
            z-index: 1;
        }
        &::before{
            display: block;
            content: "";
            width: 0;
            height: 150px;
            border-top: 83px solid transparent;
            border-right: 52vw solid #0e1121;
            border-bottom: 0 solid transparent;
            position: absolute;
            z-index: 2;
        }
    }
    .triagle-left{
        width: 50%;
        position: relative;
        &::after{
            display: block;
            content: "";
            width: 0;
            height: 150px;
            border-top: 80px solid transparent;
            border-left: 50vw solid #DCAA26;
            border-bottom: 0 solid transparent;
            position: absolute;
            z-index: 1;
        }
        &::before{
            display: block;
            content: "";
            width: 0;
            height: 150px;
            border-top: 83px solid transparent;
            border-left: 52vw solid #0e1121;
            border-bottom: 0 solid transparent;
            position: absolute;
            left: -2vw;
            z-index: 2;
        }
    }
}