.hero-title{
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero-title-small{
    font-size: 35px;
    font-weight: 400;
}

