$primary-color: #0e1121;
$secondary-color:#dcaa26;

// bootstrap 
$body-bg: #ffffff;
$body-color: $primary-color;
$font-family-base:'Montserrat', sans-serif;
$warning: $secondary-color;
$border-radius: 0;





$font-color:#dcaa26;



$font-size-small:12px;









$font-family-primary:'Montserrat', sans-serif;